body {
    font-family: sans-serif;
    padding: 10px;
    width: 300px;
  }
  
  #message {
    font-size: 14px;
    color: #444;
  }

  #calendar {
    min-height: 250px;
    width: 300px;
    display: block;
  }
  